@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Jost', sans-serif;

}

#backnav {
    background-color: #031926;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}
.nav {
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    font-size: 23px;
    padding: 10px;
    margin-left: 25px;

}
#imgnav{
    margin-top: 10px;
    width: 34px;
    height: 34px;
}
#imgnav1{
    margin-top: 8px;
    width: 34px;
    height: 34px;
    margin-left: 25px;
}
#contnav{
    display: flex;
    flex-direction: row;
    margin-left: 58%;
}

#background {
    background-color: #031926;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#background1 {
    background-color: #468189;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}


#title {
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    padding: 10px;
}

#titulo1 {
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    padding: 15px;
    position: relative; 
    text-align: justify;
    font-size:25px;
}

#title2 {
    color: #031926;
    font-family: 'Jost', sans-serif;
    font-size: xx-large;
    margin-left: 10%;
    margin-bottom: 2%;
}
#titulo2 {
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    padding: 15px;
    text-align: justify;
    font-weight: bold;
    font-size: 28px;

}

#conttitule2 {
    background-color: #031926;
    margin-left: 5%;
    margin-right: 8%;
}

#conttext {
    background-color: #031926;
    margin-left: 10%;
    margin-right: 10%;

}

#texto3 {
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    padding: 35px;
    text-align: justify;
    position: relative; 
    font-size: 22px;
}

.btn {
    padding: 1rem;
    width: 313px;
    height: 66px;

    border-radius: 50px;
    color: aliceblue;
    border: 2px solid #6B9AA1;
    position: relative;

    font-size: 1.5rem;
    background-color:  #468189;
}

.btn:hover {
    background-color: #6B9AA1;
    color: aliceblue;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    min-width: 100vh;
    margin-left: 5%;

}

#logo {
    height: 100%;
    width: 100%;
    margin-left: 2%
}

.opacity {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    position:absolute ;
    background-color: #031926;
    opacity: 60%;
}

#contlogbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 3%;
}

#imglogo {
    width: 50%;
    margin-left: 5%;
    align-content: center;
}


@media only screen and (max-width : 900px) {
    #background {
        flex-direction: column-reverse;
        min-width: 100vh;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
    }
    #backnav{
        min-width: 100vh;
        padding: 2%;
        justify-content: space-around;
    }
    #contnav {
        margin-left: 20%;
    }
    
    #background1 {
        flex-direction: column-reverse;
        min-width: 100vh;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        
    }

    #inicio{
        padding-right: 5%;
        padding-bottom: 3%;
    }
    #Info{
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #bodycont {
        padding: 25px;
    }

}

/* css for privacity.html */

#bodycont {
    background-color: #031926;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-bottom: 1.5%;
}

.titlepriv {
    color:#468189;
    font-family: 'Jost', sans-serif;
    padding-top: 16px;
}

.titlepriv1 {
    color:#468189;
    font-family: 'Jost', sans-serif;
}

.parrafopriv {
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    padding-top: 8px;
}

.navpriv {
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}
#backnavpriv {
    background-color: #031926;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 12px;
}

#titlepriv {
    color: #6B9AA1;
    font-family: 'Jost', sans-serif;
    font-weight: bold;

}
#imgnavpriv {
    width: 34px;
    height: 34px;
    margin-left: 10px;
}

@media only screen and (max-width : 900px) {
    #bodycont {
        padding: 25px;
    }

}
